.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  height: 100vh; /* Adjust as needed */
}

.header {
  display: flex;
  margin-top: 30px;
}

.headerText {
  font-size: 30px;
  color: #000000;
  margin-left: 50px;
}

.ticketContainer {
  display: flex;
  margin-top: 20px;
}

.typetext {
  font-size: 15px;
  color: #000000;
  margin-top: 20px;
  margin-right: 20px;
}

.pricetext {
  font-size: 15px;
  color: #000000;
  margin-top: 20px;
  margin-right: 20px;
}

.selectTicketstext {
  font-size: 15px;
  color: #000000;
  margin-top: 20px;
  margin-right: 20px;
}

.amounttext {
  font-size: 15px;
  color: #000000;
  margin-top: 20px;
  margin-right: 20px;
}

.ticketType {
  background-color: #C7ADCE;
  width: 350px;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticketTypePrice {
  font-size: 20px;
  color: #000000;
}

.quantityContainer {
  display: flex;
  align-items: center;
  margin-top: 5px;
  justify-content: flex-end;
}

.quantityButton {
  font-size: 20px;
  color: #000000;
  margin-left: 5px;
  cursor: pointer;
}

.quantity {
  font-size: 20px;
  color: #000000;
  padding: 0 10px;
}

.orderSummaryContainer {
  margin-right: 50px;
  margin-left: 30px;
}

.orderSummaryTitle {
  font-size: 25px;
  color: #000000;
  margin-top: 30px;
}

.orderSummaryItem {
  margin-top: 10px;
}

.orderSummaryText {
  font-size: 20px;
  color: #000000;
  margin-bottom: 5px;
}

.checkoutButton {
  background-color: #F6BD0F;
  height: 40px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 30px;
  cursor: pointer;
}

.checkoutButtonText {
  font-size: 20px;
  color: #000000;
  text-align: center;
  font-weight: bold;
}
